<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="style.css" rel=stylesheet>
    <title>Document</title>
</head>

<body>
    <div id="app">
        <div v-if="loaded && showPage">
            <div class="cart">
                <div class="cartHeaders">
                    <h2>Product</h2>
                    <h2>Quantity</h2>
                    <h2>Price</h2>
                    <h2>Total</h2>
                </div>
                <div class="cartItem" v-for="p in cart">
                    <div class="productInfo" style="display: flex; align-items: center;">

                        <div class="cartImgContainer">
                            <img class="cartImg" v-bind:src="p.product.Img">
                        </div>

                        <div style="width: 200px; margin-left: 10px;">
                            <h3 style="text-align: left;">{{p.product.Title}}</h3>
                            <p style="text-align: left; font-size: 14px;">{{p.product.Category.toLowerCase()}}</p>
                        </div>
                    </div>


                    <div class="quantityContainer" :key="p.quantity">
                        <!--Minus-tecken-->
                        <span class="minus bold" @click="changeQty(-1, p)">&minus;</span>

                        <p v-model="p.quantity">{{p.quantity}}</p>
                        <!--Plus-tecken-->
                        <span class="plus bold" @click="changeQty(1, p)">&plus;</span>
                    </div>

                    <div class="priceContainer">
                        <p>Price per item: <span class="bold">{{p.product.Price}}:-</span></p>
                    </div>

                    <div class="totalContainer">
                        <p>{{p.quantity}} * {{p.product.Price}}:-</p>

                        <hr>

                        <p class="bold">{{p.quantity * p.product.Price}}:-</p>
                    </div>

                </div>
            </div>

            <h1>Total: 12345:-</h1>
        </div>
    </div>


    <div>
        <form id="deliveryDetails" style="display: flex; flex-direction: column;" action="#" method="post">
            <!-- action="http://primat.se/services/sendform.aspx?xid=deliverydetails&xmail=peter.wallenas@edu.newton.se" -->

            <h1 style="margin:auto">Delivery details</h1>

            <div id="pay" class="payment" style="margin: 10px auto; display: flex;  border: 2px solid black;">
                <div class="personalInfo" style="display: flex; flex-direction: column; margin: 5px;">
                    <label for="firstName">First name:</label>
                    <input id="firstName" class="inputs" type="text" ref="name_first" name="firstName"
                        v-model="firstName">

                    <label for="lastName">Last name:</label>
                    <input id="lastName" class="inputs" type="text" ref="name_last" name="lastName" v-model="lastName">

                    <label for="phonenumber">Phone number:</label>
                    <input id="phonenumber" class="inputs" type="tel" ref="number_phonenr" name="phoneNumber"
                        v-model="phoneNumber">

                    <label for="email">E-mail:</label>
                    <input id="email" class="inputs" type="email" ref="email" name="email" v-model="email">
                </div>
                <div class="locationInfo" style="display: flex; flex-direction: column; margin: 5px;">
                    <label for="country">Country:</label>
                    <input id="country" type="text" class="inputs" ref="country" name="country" v-model="country">

                    <label for="city">City:</label>
                    <input id="city" type="text" class="inputs" ref="city" name="city" v-model="city">

                    <label for="street">Street:</label>
                    <input id="street" type="text" class="inputs" ref="street" name="street" v-model="street">

                    <label for="zipcode">Zip code:</label>
                    <input id="zipcode" type="text" class="inputs" ref="number_zip" name="zipCode" v-model="zipCode">
                </div>
            </div>
            <div style="display: flex; flex-direction: column; margin: 5px;">
                <h2 style="margin:auto;">Choose payment option: </h2>
                <div class="pay" style="display: flex; margin: 5px auto;">
                    <label for="swish">Swish(bild här istället)</label>
                    <input id="swish" type="radio" name="paymentOption" value="swish" checked ref="payment_swish">

                    <label for="bank">Bank (bild här) </label>
                    <input id="bank" type="radio" value="bank" name="paymentOption" ref="payment_bank">
                </div>

                <h2 style="margin:auto;">Shipping</h2>
                <div class="shipping" style="display: flex; margin:auto;">
                    <label for="schenker">Schenker (40:-)</label>
                    <input id="schenker" type="radio" name="delivery" value="schenker" checked ref="shipping_schenker">

                    <label for="dhl">DHL (25:-)</label>
                    <input id="dhl" type="radio" name="delivery" value="DHL" ref="shipping_dhl">
                </div>
                <input style="width: 200px; margin: 10px auto;" type="button" @click="checkForm" value="Submit">
            </div>
        </form>
    </div>

    <script>
        let products = [];
        let productId = "";
        let cart = [];


        getProducts();


        getDeliveryDetails()

        function getProducts() {
            axios.get('/products/products.json')
                .then(response => {
                    app.products = response.data;
                    products = app.products;
                })
                .catch()
                .finally(() => {
                    cart = [];
                    let product = products[1]
                    cart.push({ product: product, quantity: 4 });
                    product = products[0];
                    cart.push({ product: product, quantity: 2 });
                    //console.log(cart);
                    app.loaded = true;
                })
        }

        function getDeliveryDetails() {
            axios.get('http://primat.se/services/data/peter.wallenas@edu.newton.se-deliverydetails.json')
                .then(response => {
                    console.log(response.data);
                })
        }


        var pay = new Vue({
            el: "#deliveryDetails",
            data: {
                firstName: null,
                lastName: null,
                email: null,
                phoneNumber: null,
                country: null,
                city: null,
                street: null,
                zipCode: null,
                // paymentMethod: "",
                errors: []
                // swishImg: "", //for radiobuttons
                // bankImg: "", //for radiobuttons
            },
            methods: {
                checkForm: function (e) {
                    try {
                        this.errors = [];
                        for (const [key, value] of Object.entries(this.$refs)) {
                            value.value = value.value.trim() //remove any leading or ending whitespace
                            value.style.border = "";

                            if (!value.value) {
                                this.errors.push("error with " + key)
                                // alternativt appenda klassnamn, typ value.className += " red-border"
                                value.style.border = "2px solid red";
                            }

                            else if (key.startsWith("number_")) {
                                let regexLetters = /[A-Za-z]/g; // contains any letter (case insensitive) or whitespace

                                value.value = value.value.replace(/\s/g, ""); // remove ALL whitespace in the string

                                if (regexLetters.test(value.value)) {
                                    console.log("Nummerinput innehåller bokstäver eller mellanslag");
                                    this.errors.push("error with " + key);
                                    value.style.border = "2px solid red";
                                }
                            }
                        }


                        if (!this.errors.length) {
                            return true;
                        }

                        console.log(this.errors);
                        e.preventDefault();
                    }
                    catch (error) {
                        alert(error);
                        e.preventDefault();
                    }

                }
            }
        });

        var app = new Vue({
            el: "#app",
            data: {
                products: [],
                loaded: false,
                showPage: false
            }
        });
    </script>
</body>

</html>