<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>wallenas clothing company</title>
</head>

<body>
    <div id="app">
        <header>
            <vueheader></vueheader>
        </header>

        <nav>
            <li @click="changePage('HOME');">home</li>
            <li @click="changePage('TSHIRT')">t-shirts</li>
            <li @click="changePage('PANTS')">pants</li>
            <li @click="changePage('UNDERWEAR')">underwear</li>
            <li @click="changePage('CART')" v-if="cart.length">cart</li>
        </nav>

        <main id="main" v-if="isLoaded">
            <div v-if="currentPage === 'HOME'">
                <!-- Show three selected items -->
                <deals></deals>

                <div v-if="isProductSelected">
                    <popped-product></popped-product>
                </div>

                <article>
                    <about></about>
                </article>
            </div>

            <div v-else-if="currentPage === 'CART'">
                <cartvue></cartvue>
                <payment v-if="showPayment"></payment>
            </div>
            

            <div v-else :key="currentPage">
                <category-products></category-products>

                <div v-if="isProductSelected">
                    <popped-product></popped-product>
                </div>
            </div>

          

        </main>
        <aside>
            <!-- Put cart here? -->
        </aside>
        <footer>
            <h2>Footer stuff</h2>
        </footer>

    </div>
    <script src="script.js"></script>
</body>

</html>