<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>wallenas clothing company</title>
</head>

<body>
    <div id="app">
        <header>
            <vueheader></vueheader>
        </header>

        <nav>
            <li @click="changePage('home');">home</li>
            <li @click="changePage('t-shirts')">t-shirts</li>
            <li @click="changePage('pants')">pants</li>
            <li @click="changePage('underwear')">underwear</li>
        </nav>

        <main id="main">
            <div v-if="currentPage === 'home'">
                <!-- Show three selected items -->
                <deals></deals>

                <div class="modal" v-if="selectedProduct">
                    <p>produkt är vald</p>
                </div>



                <div class="modal"></div>
                <div id="myModal" class="modal">
                    <!-- Modal content -->
                    <div class="modal-content">
                        <!-- <span class="close" onclick="closeModal()">&times;</span> -->
                    </div>

                </div>
                <article>
                    <about></about>
                </article>
            </div>


            <div v-if="currentPage === 't-shirts'">
                <p>t-shirts</p>
            </div>

            <div v-if="currentPage === 'pants'">
                <p>pants</p>
            </div>

            <div v-if="currentPage === 'underwear'">
                <p>underwear</p>
            </div>
        </main>
        <aside>
            <!-- Put cart here? -->
        </aside>
        <footer>
            <h2>Footer stuff</h2>
        </footer>

    </div>
    <script src="script.js"></script>
</body>

</html>