<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap" rel="stylesheet">
    <link href="style.css" rel="stylesheet">
    <title>wallenas clothing company</title>
</head>

<body>
    <div id="app">
        <header>
            <vueheader></vueheader>
        </header>

        <nav>
            <li @click="changePage('home');">home</li>
            <li @click="changePage('t-shirts')">t-shirts</li>
            <li @click="changePage('pants')">pants</li>
            <li @click="changePage('underwear')">underwear</li>
        </nav>

        <main id="main">
            <div v-if="currentPage === 'home'">
                
                <deals></deals>

                <article>
                    <about></about>
                </article>
            </div>


            <div v-if="currentPage === 't-shirts'">
                <p>t-shirts</p>
                <div class="dealsContainer">
                    <div class="deal" v-for="product in products.tshirts">
                        <div class="imgContainer">
                            <img v-bind:src="product.Img" v-bind:alt="product.Title">
                        </div>
                        <p class="bold">{{product.Title}} -- {{product.Price}}:-</p>
                        <div class="flex">
                            <p class="thin">Add to cart:</p>
                            <div class="dealInputs">
                                <input type="number" min="1" max="5" value="1">
                                <button class="cart-button">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="currentPage === 'pants'">
                <p>pants</p>
                <div class="dealsContainer">
                    <div class="deal" v-for="product in products.pants">
                        <div class="imgContainer">
                            <img v-bind:src="product.Img" v-bind:alt="product.Title">
                        </div>
                        <p class="bold">{{product.Title}} -- {{product.Price}}:-</p>
                        <div class="flex">
                            <p class="thin">Add to cart:</p>
                            <div class="dealInputs">
                                <input type="number" min="1" max="5" value="1">
                                <button class="cart-button">OK</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div v-if="currentPage === 'underwear'">
                <p>underwear</p>
            </div>
        </main>
        <aside>
            <!-- Put cart here? -->
        </aside>
        <footer>

        </footer>

    </div>
    <script>

        var products = [];

        Vue.component('about', {
            data: function () {
                return {
                    title: "about us",
                    subheader: ".quality | .simplicity | .sustainability",
                    description: "We care about you. You need to look your best. Bla bla bla lorem ipsum yeah"
                }
            },

            template: '<div class="about">' +
                '<h2>{{title}}</h2>' +
                '<h3 class="thin">{{subheader}}</h3>' +
                '<p>{{description}}</p>' +
                '</div>'
        })

        Vue.component('deals', {
            data: function () {
                return {
                    products: [],
                    firstPageProducts: []
                }
            },
            methods: {
                fetchData2: async function () {
                    await axios.get('/products/products.json')
                        .then(response => {
                            this.products = response.data;
                        })
                        .catch(error => {
                            console.log("Något gick fel: " + error)
                        });
                },
                // Försökte få till en smidigare funktion med hjälp av .filter(), tyvärr fungerade inte det.
                getFirstPageProducts: function () {
                    // TODO: detta condition fungerar ej
                    if (this.products == null) {
                        console.log("Produkter har inte laddats");
                        console.log(this.products)
                        return;
                    }


                    let allCategories = [this.products.tshirts, this.products.underwear, this.products.pants];
                    let firstPageTrue = [];
                    allCategories.forEach(category => {
                        category.forEach(product => {
                            if (product.ShowOnFirstPage == true) {
                                firstPageTrue.push(product);
                            }
                        })
                    })
                    this.firstPageProducts = firstPageTrue;
                    console.log(this.firstPageProducts);
                }
            },
            created: async function () {
                this.products = app.products;
                // await this.fetchData2();
                // this.getFirstPageProducts();
            },

            template: '<div class="deals">' +
                '<div>' +
                '<h2>deals of the week</h2>' +
                '</div>' +
                '<div class="dealsContainer">' +
                '<div class="deal" v-for="product in firstPageProducts">' +
                '<div class="imgContainer">' +
                '<img v-bind:src="product.Img" v-bind:alt="product.Title">' +
                '</div>' +
                '<p class="bold">{{product.Title}} -- {{product.Price}}:-</p>' +
                '<div class="flex">' +
                '<p class="thin">Add to cart:</p>' +
                '<div class="dealInputs">' +
                '<input type="number" min="1" max="5" value="1">' +
                '<button class="cart-button">OK</button>' +
                '</div></div></div></div></div>'

        })

        Vue.component('vueheader', {
            data: function () {
                return {
                    title: "wallenas clothing company",
                    description: "basic clothing and fair pricing"
                }
            },
            template: '<div>' +
                '<div class="titleContainer">' +
                '<h2>{{title}}</h2>' +
                '<h3>{{description}}</h3>' +
                '</div>' +
                '</div>'
        });


        var app = new Vue({
            el: "#app",
            data: {
                currentPage: "home",
                products: []

            },
            created: async function () {
                await this.fetchProducts();
                this.products = products;
            },

            methods: {
                changePage: function (pageName) {
                    if (this.currentPage != pageName)
                        this.currentPage = pageName;
                },
                fetchProducts: async function () {
                    await axios.get('/products/products.json')
                        .then(response => {
                            products = response.data;
                        })
                        .catch(error => {
                            console.log("Något gick fel: " + error)
                        });
                }
            }
        })
    </script>
</body>

</html>